# Copyright (C) 2026 Tony Aly
# SPDX-License-Identifier: Apache-2.0
# Automatic TLS from Let's Encrypt. Caddy needs the domain to already resolve
# to this droplet before it can be issued a certificate.
{$FREEHOLDER_DOMAIN} {
	encode zstd gzip
	reverse_proxy app:3000
}
