# Copyright (C) 2026 Tony Aly
# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Freeholder host update schedule
[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Persistent=true
[Install]
WantedBy=timers.target
